recursive-include icons *.png *.svg *.ico
recursive-include doc *
recursive-include designer *.ui
include compile_gui.sh
include MANIFEST.in
include quick_nxs/window.pkl quick_nxs/genx_templates/*.gx quick_nxs/htmldoc/*
